<div
  class="main-form"
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  fxLayoutGap="32px"
  fxFlex="60"
>
  <!-- form inputs -->
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput [(ngModel)]="mainForm.fullName" />
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="16px">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="mainForm.date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Establishment</mat-label>
        <mat-select [(ngModel)]="mainForm.establishment">
          <mat-option
            *ngFor="let establishment of establishments$ | async"
            [value]="establishment"
          >
            {{ establishment }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Experienced Symptoms</mat-label>
      <mat-select multiple [(ngModel)]="mainForm.experiencedSymptoms">
        <mat-option
          *ngFor="let symptom of symptoms$ | async"
          [value]="symptom.id"
        >
          {{ symptom.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="16px">
    <button
      mat-stroked-button
      color="warn"
      (click)="onClear()"
      [disabled]="shouldDisable"
    >
      CLEAR
    </button>
    <button
      fxflex=""
      mat-flat-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="submitting$ | async"
    >
      SUBMIT
    </button>
  </div>
</div>
